.nav {
    padding: 10px;
  grid-area: n;
  background-color: #ff6f00;
}

.item {
   padding: 10px;
}

.item a {
    color: chartreuse;
    text-decoration: none;
    
}

.item a.activeLink {
    color: deepskyblue;
}

