

.contentDeskription {
    padding: 20px;
    padding-bottom: 0px;
    display: inline-grid;

}
.mainAvatar {
    border-radius: 150px;
}

.mainImg {
    width: 100%;

}

.parDesk {
    font-size: 32px;
}