.dialogs {
   display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItem {
    padding: 10px;

}

.dialogsItem a {
    text-decoration: none;
    color: chartreuse;
}

.dialogsItem  .activeLink{
   color: darkturquoise;
}

.dialogsItem .active {
    /*color: chartreuse;*/
}

.dialog {
    padding: 13px;
}

.messages {
    padding: 13px;
}

.message {
    padding: 13px;
}