.dialogs {
   display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItem {
    padding: 10px;
}

.dialogsItem {
    color: chartreuse;
}

.dialog {
    padding: 10px;
}

.dialog a{
    color: chartreuse;
    text-decoration: none;
}

.dialogs .activeLink {
    color: deepskyblue;
}

.messages {
    padding: 10px;
}

.message {
    padding: 10px;
}